.disabled {
    display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    padding: 10px;
    background: lightgrey;
}

#query-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

p {
    margin: 0;
}
